
.container {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
}

.header__container__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.produtos__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta o espaço entre as imagens */
    gap: 20px;
}

.produto {
    flex: 1 1 300px; /* Aumenta ou diminui o tamanho dos produtos */
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: translateY(-10px); /* Efeito ao passar o mouse */
}

.produto__imagem {
    width: 150px;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem deformar */
}

.produto__nome {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.produto__descricao {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

