@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

main {
    flex: 1 1 0;
}

.cabecalho {
    background-image: url('https://www.designi.com.br/images/preview/10534231.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px ;
}

.cabecalho__titulo{
    font-weight: 600;
    font-size: 48px;
    color: white;
    padding-bottom: 10px;
    font-family:'Montserrat', sans-serif;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav a {
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family:'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}
nav a:hover {
    color: #444444;
}
.container_form {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius:3px; 
    padding: 100px;    
}

.form_grupo {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}

.form_grupo {
    width: 100%;
    margin-bottom: 20px;
}

.form_input {
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;
}

.submit { 
    width:100%; 
    float:left; 
}

.submit_btn {
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #159c04;
    color: #fff;
    font-size: 25px;
    font-family:'Montserrat', sans-serif;
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.3s;
}

.submit_btn:hover {
    background-color: #444444;
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}